{% extends "modelPage.html" %}

{% block content %}

<h2>Evento</h2>

<form action="submit" method="POST"> {% csrf_token %}

    <input type="number" name="id_evento" value="{{evento.id}}" hidden />
    <br>
    <label>Titulo:</label>
    <br>
    <input type="text" name="titulo" size="22" value="{{evento.titulo}}" />
    <br>
    <label>Data do Evento: </label>
    <br>
    <input type="datetime-local" name="data_evento" value="{{evento.get_data_input_evento}}" />
    <br>
    <label>Descrição:</label>
    <br>
    <textarea name="descricao" rows="5" cols="25">{{evento.descricao}}</textarea>
    <br>
    <label>Local:</label>
    <br>
    <textarea name="local" rows="5" cols="25">{{evento.local}}</textarea>
    <br><br>

    <button type="submit">Salvar</button>
    <button onclick="window.location.href = '/'" type="button">Cancelar</button>

</form>

{% endblock %}