<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Projeto Django</title>
    </head>
    <body>
        <form action="submit" method="POST"> {% csrf_token %}
            <div align="center">
                <h2>LOGIN:</h2>

                <label>Usuário:</label>
                <input type="text" name="username" />

                <label>Senha:</label>
                <input type="password" name="password" />

                <button type="submit">Entrar</button>

            </div>
        </form>

        {% for message in messages %}
        <div align="center">
            <strong>ERRO:  </strong> {{ message }}
        </div>
        {% endfor %}

    </body>
</html>